{% extends 'base.html' %}
{% load static %}
{% block custom_css %}

{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="intro_text">
                <div class="text_wrapper">
                    <h2>I am Olaide</h2>
                    <p>We are all capable of miracles</p>
                </div>
            </div>
            <div class="cover_image">
            </div>
            <div class="categories_div">
                <div class="categories_wrap">
                    <div class="category">
                        <div class="category_icon"></div>
                        <p>Data Structures</p>
                    </div>
                    <div class="category">
                        <div class="category_icon"></div>
                        <p>Business</p>
                    </div>
                    <div class="category">
                        <div class="category_icon"></div>
                        <p>Code With Me</p>
                    </div>
                    <div class="category">
                        <div class="category_icon"></div>
                        <p>Miscellaneous</p>
                    </div>
                </div>
            </div>
            <div class="lay_up strip"></div>
            </div>
        </div>
    </section>
{% endblock %}